.productcarousel{
    width:100%;
    img{
        width:100%;
    }
}
p{
    text-align: center;
}
.price{
    color:red;
    font-size: 22px;
}
.button{
    float: left;
    width: 30%;
    height: 2.09066667rem;
    color: #ff4683;
    line-height: 2.09066667rem;
    text-align: center;
    font-size: 0.64rem;
    border: none;
}